In [ ]:
import pandas as pd
from pathlib import Path
import os
import glob

In [22]:
# Display all of the columns
pd.set_option('display.max_columns', None)

pd.set_option('display.max_rows', 60)

In [ ]:
# Disable warnings
import warnings
warnings.filterwarnings('ignore')

In [6]:
path = os.getcwd()
csv_files = glob.glob('Resources/*.csv')

citibike_df = pd.DataFrame()

n=0

for csv_file in csv_files:
    n+=1    
    df = pd.read_csv(csv_file, low_memory=False)
    citibike_df = pd.concat([citibike_df, df])
    print(n, csv_file)
    

citibike_df.head()

1 Resources\202401-citibike-tripdata.csv
2 Resources\202402-citibike-tripdata.csv
3 Resources\202403-citibike-tripdata.csv
4 Resources\202404-citibike-tripdata.csv
5 Resources\202405-citibike-tripdata_1.csv
6 Resources\202405-citibike-tripdata_2.csv
7 Resources\202405-citibike-tripdata_3.csv
8 Resources\202405-citibike-tripdata_4.csv
9 Resources\202405-citibike-tripdata_5.csv
10 Resources\202406-citibike-tripdata_1.csv
11 Resources\202406-citibike-tripdata_2.csv
12 Resources\202406-citibike-tripdata_3.csv
13 Resources\202406-citibike-tripdata_4.csv
14 Resources\202406-citibike-tripdata_5.csv

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,5078F3D302000BD2,electric_bike,2024-01-22 18:43:19.012,2024-01-22 18:48:10.708,Frederick Douglass Blvd & W 145 St,7954.12,St Nicholas Ave & W 126 St,7756.10,40.823072,-73.941738,40.811432,-73.951878,member
1,814337105D37302A,electric_bike,2024-01-11 19:19:18.721,2024-01-11 19:47:36.007,W 54 St & 6 Ave,6771.13,E 74 St & 1 Ave,6953.08,40.761822,-73.977036,40.768974,-73.954823,member
2,A33A920E2B10710C,electric_bike,2024-01-30 19:17:41.693,2024-01-30 19:32:49.857,E 11 St & Ave B,5659.11,W 10 St & Washington St,5847.06,40.727592,-73.979751,40.733424,-74.008515,casual
3,A3A5FC0DD7D34D74,electric_bike,2024-01-27 11:27:01.759,2024-01-27 11:38:01.213,W 54 St & 6 Ave,6771.13,E 74 St & 1 Ave,6953.08,40.761779,-73.977144,40.768974,-73.954823,member
4,6F96728ECEFBDAA4,electric_bike,2024-01-16 15:15:41.000,2024-01-16 15:29:26.156,Madison Ave & E 99 St,7443.01,E 74 St & 1 Ave,6953.08,40.789808,-73.952214,40.768974,-73.954823,member

In [7]:
citibike_df.shape

(18903880, 13)

In [41]:
df_start_station_counts = pd.DataFrame(citibike_df.start_station_name.value_counts())
df_start_station_counts = df_start_station_counts.reset_index()
df_start_station_counts.columns=['start_station_name', 'count']

# top 10
df_start_station_counts.head(10)

        start_station_name  count
0          W 21 St & 6 Ave  74053
1  University Pl & E 14 St  62915
2          8 Ave & W 31 St  61022
3    West St & Chambers St  59792
4       Broadway & W 58 St  58462
5       Broadway & W 25 St  56075
6          1 Ave & E 68 St  55721
7          W 31 St & 7 Ave  53635
8         11 Ave & W 41 St  53528
9    Lafayette St & E 8 St  53355

In [48]:
top_10_list = list(df_start_station_counts.head(10)['start_station_name'])
print(top_10_list)

['W 21 St & 6 Ave', 'University Pl & E 14 St', '8 Ave & W 31 St', 'West St & Chambers St', 'Broadway & W 58 St', 'Broadway & W 25 St', '1 Ave & E 68 St', 'W 31 St & 7 Ave', '11 Ave & W 41 St', 'Lafayette St & E 8 St']

In [51]:
df_top_10_start_trip_data = pd.DataFrame(citibike_df[citibike_df['start_station_name'].isin(top_10_list)])
df_top_10_start_trip_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
2738,557305B2572E0FE9,classic_bike,2024-01-05 18:24:29.808,2024-01-05 18:32:17.200,W 31 St & 7 Ave,6331.01,Lexington Ave & E 36 St,6313.10,40.749156,-73.991600,40.747574,-73.978801,member
3020,45920497B9CB97B8,electric_bike,2024-01-10 15:10:10.975,2024-01-10 15:14:58.838,W 31 St & 7 Ave,6331.01,W 42 St & Dyer Ave,6644.07,40.749392,-73.991812,40.758985,-73.993800,member
3021,C69745FC28CC6C25,classic_bike,2024-01-23 17:28:45.883,2024-01-23 17:38:42.712,W 31 St & 7 Ave,6331.01,E 17 St & Broadway,5980.07,40.749156,-73.991600,40.737050,-73.990093,member
3024,5682B3FD897DFC69,electric_bike,2024-01-09 10:57:03.893,2024-01-09 11:07:05.326,W 31 St & 7 Ave,6331.01,E 17 St & Broadway,5980.07,40.748677,-73.992467,40.737050,-73.990093,member
3104,11B2F47850BAD94E,classic_bike,2024-01-20 14:19:09.602,2024-01-20 14:21:42.287,University Pl & E 14 St,5905.14,Broadway & E 19 St,6098.12,40.734814,-73.992085,40.738661,-73.989873,member

In [52]:
df_top_10_start_trip_data.shape

(588558, 13)

In [53]:
file = 'Resources/2024_citibike_tripdata_top10_start_station.csv'
df_top_10_start_trip_data.to_csv(file, header=True)

In [29]:
most_used_station_df = pd.DataFrame(citibike_df[citibike_df['start_station_name'] == 'W 21 St & 6 Ave'])
most_used_station_df.shape

(74053, 13)

In [30]:
file = 'Resources/2024_citibike_tripdata_most_used_start_station.csv'
most_used_station_df.to_csv(file, header=True)

In [12]:
file = 'Resources/2024_citibike_tripdata_combined.txt'
citibike_df.to_csv(file, header=True)